@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="content">
  <header class="title wrap">
    <h1 class="title_main text-center">
      <div class="col-md-12">
        <img src="images/Ultebra_2.png" class="img-fluid" alt="Ultebra Solutions">
      </div>
    </h1>
  </header>

  <aside class="toast wrap text-center">
    This demo requires Firefox&nbsp;49, Chrome&nbsp;49, Chrome&nbsp;for&nbsp;Android&nbsp;53, Opera&nbsp;41 or&nbsp;later. The https is required.
  </aside>

  <main>
    <div class="columns wrap">
      <div class="column col-4 col-xs-12">
        <div class="card j-card">
          <div class="card-image">
            <div class="video-responsive">
              <video id="videoRecord" class=" j-video_local video" controls muted></video>
            </div>
          </div>

          <div class="source">
            <div class="form-group">
              <select id="j-audioSource" class="invisible form-select select-sm"></select>
            </div>

            <div class="form-group">
              <select id="j-videoSource" class="invisible form-select select-sm"></select>
            </div>

            <div class="form-group">
              <select id="j-mimeTypes" class="invisible form-select select-sm"></select>
            </div>
          </div>

          <div class="card-footer">
            <h5 class="card-title">Recording</h5>
            <div class="btn-group btn-group-block">
              <button class="btn j-start">Start</button>
              <button class="btn j-pause" disabled>Pause</button>
              <button class="btn j-resume" disabled>Resume</button>
              <button class="btn j-stop" disabled>Stop</button>
            </div>
          </div>
        </div>
      </div>

      <div class="column col-4 col-xs-12">
        <div class="card j-result-card">
          <div class="card-image">
            <div class="video-responsive">
              <canvas id="canvas" class="j-video_local video"></canvas>
            </div>
          </div>
          <div class="card-footer">
            <h5 class="card-title">Photo</h5>
            <div class="btn-group btn-group-block">
              <button id="takeSnapshot2" class="btn j-picture" disabled>Take a picture</button>
              <button id="downloadPicture" class="btn j-downloadPicture" disabled>Download</button>
            </div>
          </div>
        </div>
      </div>


      <div class="column col-4 col-xs-12">
        <div class="card j-result-card">
          <div class="card-image">
            <div class="video-responsive">
              <video class="j-video_result video" controls></video>
            </div>
          </div>

          <div class="card-footer">
            <h5 class="card-title">Record</h5>
            <div class="btn-group btn-group-block">
              <button class="btn j-clear" disabled>Clear</button>
              <button class="btn j-download" disabled>Download</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="~/js/qbMediaRecorder.js"></script>
<script src="~/js/main.js"></script>
<script type="text/javascript">
  var ua = window.navigator.userAgent;
  var msie = ua.indexOf("MSIE ");
  if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))
    document.write('<script src=cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5//bluebird.min.js;\/script>');
</script>